@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 30%;
  margin: auto;
  padding: 0px 20px;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
